* {
  margin: 0;
  padding: 0;
}

header {
  background: #1f2937;
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

nav {
  background: #1f2937;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 23em;
  padding-left: 8em;
}

#logo {
  flex-grow: 1;
}

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

#nav1,
#nav2,
#nav3 {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

#nav1:hover,
#nav2:hover,
#nav3:hover {
  color: black;
  background: hotpink;
}

#awesome-title {
  font: 48px extra-bold;
}

#awesome-text {
  margin-left: 5em;
  padding: 1em;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#image-placeholder {
  margin-left: 15em;
  padding: 5em;
  align-items: center;
  background: grey;
  text-align: center;
}

#header-button {
  background: #3882f6;
  color: white;
  padding: 1em;
  margin: 1em;
  max-width: max-content;
  border-radius: 1em;
}

.random-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1em;
  padding: 1em;
}

.random-list {
  margin-top: 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}

.random-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

img {
  display: flex;
  flex-wrap: nowrap;
  width: 45%;
  height: 85%;
}

.quote {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quote-text {
  margin-top: 5em;
  font-size: larger;
  width: 30%;
}

#quote-name {
  font-size: large;
  margin-bottom: 5em;
  margin-left: 21.5em;
}

.sign-up {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2em;
  padding-left: 25%;
  padding-right: 25%;
}

#sign-up-text {
  background-color: #3882f6;
  color: white;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
}

#sign-up-button {
  margin-left: 2em;
  padding: 0.5em 1.5em;
  background-color: #3882f6;
  color: white;
  border: 0.2em solid white;
  border-radius: 1em;
}

footer {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 1em;
}
