* {
  border: 1px solid red;
}

header {
  background: #1f2937;
  color: white;
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

nav {
  background: #1f2937;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5em;
  padding-left: 5em;
}

#logo {
  flex-grow: 1;
}

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
}

#nav1,
#nav2,
#nav3 {
  padding: 1rem;
  text-decoration: none;
  color: white;
}

#nav1:hover,
#nav2:hover,
#nav3:hover {
  color: black;
  background: hotpink;
}

#awesome-title {
  font: 48px extra-bold;
}

#awesome-text {
  margin-left: 5em;
  padding: 1em;
  color: #f9faf8;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#image-placeholder {
  margin-left: 15em;
  padding: 5em;
  align-items: center;
  background: grey;
  text-align: center;
}

#header-button {
  background: #3882f6;
  color: white;
  padding: 1em;
  margin: 1em;
  max-width: max-content;
  border-radius: 25%;
}

.random-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.random-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-between;
}

.random-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  flex-wrap: nowrap;
  width: 45%;
  height: 85%;
}

footer {
  background: #1f2937;
  color: white;
}
